@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
    font-weight: bold;
    flex-wrap: wrap;
}

body {
    overflow-x: hidden;
}

.body {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.none {
    display: none;
}

#font {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #fff;
    gap: 10px;
    background-color: #9000ff;
    padding: 10px;
    right: 0;
    top: 80px;
}

.radial {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #9000ff;
    filter: blur(200px);
}

.radial {
    top: 0;
    right: 0;
}

.radial:nth-child(2) {
    top: 80vh;
    left: 0;
}

.radial:nth-child(3) {
    top: 150vh;
    right: 0;
}

li {
    list-style: none;
}

.cc {
    background-color: transparent;
}

.cc:hover {
    box-shadow: none;
    color: #9000ff;
    transition: color .4s linear;
}

a {
    text-decoration: none;
    color: #fff;
}

#loading {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#infotec {
    display: none;
    position: absolute;
    margin-top: 100vh;
    left: -13vw;
    transform: rotate(90deg);
    font-size: 10em;
    color: transparent;
    -webkit-text-stroke: 2px #9000ff;
}

header {
    margin-top: 50px;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

ul {
    display: flex;
    gap: 40px;
    font-size: 14px;
    font-weight: medium;
}

#logo {
    cursor: pointer;
    display: flex;
    font-size: 20px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    height: 30px;
}

#music {
    top: 160px;
    left: -140px;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#progressBar {
    left: 0;
    width: 80%;
    height: 4px;
    background-color: lightgray;
}

#progress {
    height: 100%;
    background-color: #9000ff;
    width: 0;
}

#playButton {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
}

#playButton:hover {
    color: #777;
}

.menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 24px;
    height: 20px;
}

.menu1 {
    background-color: #9000ff;
    width: 24px;
    height: 2px;
}

.menu2 {
    background-color: #9000ff;
    width: 17px;
    height: 2px;
}

.menu3 {
    background-color: #9000ff;
    width: 20px;
    height: 2px;
}

main {
    margin-top: 56.93px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

main img {
    z-index: 1;
    margin-top: -50px;
    margin-bottom: -20px;
}

h2 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.4px;
    background-color: transparent;
    color: transparent;
    -webkit-text-stroke: #9000ff 2px;
    position: relative;
}

main h1 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Manrope;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.4px;
}

h3#timestamp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    width: 100vw;
    min-height: 100px;
    font-size: 50px;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.80);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
    width: 952px;
    margin: 146px 146px;
}

.rotating-image{
    margin: 10vh 0;
}

#projects {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

#slide {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 150px;
    position: relative;
    transform: translateX(34vw);
    transition: transform 2.2s linear;
}

.card {
    width: 550px;
    height: 580px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .8;
}



#c2 > .textCard > .categoria {
    color: #9000ff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#c2 > .textCard > p {
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18.4px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 511px;
    text-align: left;
}

#c2 > .textCard > h3 {
    width: 521px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 28.436px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin: 9px 0px 9px 0px;
}

#c1 {
    width: 440px;
    height: 508px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    filter: blur(.7px);
    transition: all 2s ease;
}

#c1 > .textCard > .categoria { 
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-bottom: 5px;
    width: 390px;
    height: 18px;
    flex-shrink: 0;
    color: #9000ff;
}

#c1 > .textCard > h3 {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 280px;
    height: 35px;
    text-align: left;
    margin-bottom: 20px;
}

#c1 > .textCard > p {
    width: 390px;
    height: 97px;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;

}

#c1 > .img {
    width: 390px;
    height: 230px;
    margin-bottom: 40px;
}

.img {
    width: 510px;
    height: 301px;
    flex-shrink: 0;
    border-radius: 5px;
    margin-bottom: 46px;
    border: #9000ff 2px solid;
    object-fit: cover;
}


.navigation {
    display: flex;
    width: 100vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#pauseButton {
    color: #9000ff;
}

#dev {
    display: flex;
    padding: 50px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.05);
}

#devD {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    width: 561px;
    height: 600px;
    flex-shrink: 0;
    gap: 20px;
    margin-left: 65px;
}

#devD h3 {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.851px;
}

#devD p {
    width: 561px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.465px;
}

#devD div {
    display: flex;
    flex-direction: row;
}

#devD a {
    font-size: 10px;
}

div a {
    background-color: #9000ff;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

div a:hover,
footer a:hover {
    box-shadow: 0px 0px 10px #9000ff;
}

iframe {
    width: 700px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px #9000ff;
    transition: box-shadow 0.8s ease;
    border: #9000ff 3px solid;
}

iframe:hover {
    box-shadow: 0px 0px 150px 0px #9000ff;
}

.video-playing {
    box-shadow: 0px 0px 100px 0px #9000ff;
}

footer {
    display: flex;
    align-items: center;
    height: 90px;
    width: 100vh;
    text-align: center;
    justify-content: center;
}

footer h1 {
    color: #FFF;
    font-size: 25.933px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.519px;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #9000ff;
    border-radius: 5px;
}

footer span {
    color: #9000ff;
}

.git i,
.insta i {
    font-size: 40px;
}

.git p {
    color: #FFF;
    font-family: Manrope;
    font-size: 29.818px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.895px;

}

.git,
.insta {
    width: 170px;
    height: 40px;
    color: #FFF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family: 'Manrope';
}

.git:hover,
.insta:hover {
    color: #9000ff;
}

.git {
    margin-right: 45px;
}


.cor {
    color: #9000ff;
}

@media (max-width: 600px) {
    .body {
        padding: 0px;
        margin: 0;
        transform: translateX(-150px);
        width: 100%;
    }

    #music {
        display: none;
    }

    nav {
        display: none;
    }

    main img {
        margin: 0;
        width: 120vw;
    }

    main h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 40px;
    }

    h3#timestamp {
        font-size: 15px;
        width: 100%;
    }

    #about {
        width: 100%;
    }

    #projects {
        width: 100%;
    }

    #dev {
        width: 100%;
        padding: 20px;
    }

    body {
        background-color: #000;
    }

    .radial {
        display: none;
    }

    #social {
        margin-left: 150px;
    }

    #about p {
        font-size: 30px;
        padding: 20px;
    }
}